{{template "header"}}
        <title>添加服务器组 - MoonLog</title>
    </head>
    <body>
            {{template "navbar" .}}
            <div class="container" style="margin-top: 5%">
                <h3>添加服务器组</h3>
                <div class="container" style="width: 500px">
                    <form method="post" action="/servergroup">
                        <div class="form-group">
                            <label>服务器组名</label>
                            <input type="text" name="groupname" class="form-control">
                            <label>环境</label>
                            <input type="text" name="env" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">提交</button>
                    </form>
                </div>
            </div>
    </body>
</html>>