{{template "header"}}
        <title>添加服务器 - MoonLog</title>
    </head>
    <body>
            {{template "navbar" .}}
            <div class="container" style="margin-top: 5%">
                <h3>添加服务器</h3>
                <div class="container" style="width: 500px">
                    <form method="post" action="/server">
                        <div class="form-group">
                            <label>服务器名</label>
                            <input type="text" name="hostname" class="form-control">
                            <label>内网IP</label>
                            <input type="text" name="inner" class="form-control">
                            <label>外网IP</label>
                            <input type="text" name="outer" class="form-control">
                            <label>CPU核心数</label>
                            <input type="text" name="cpu_core" class="form-control">
                            <label>内存</label>
                            <input type="text" name="mem" class="form-control">
                            <fieldset>
                                <legend>选择服务器组</legend>
                                <div class="form-group">
                                    <label for="disabledSelect"  class="col-sm-2 control-label">服务器</label>
                                    <div class="col-sm-10">
                                        <select name="server_group" class="form-control">
                                            {{range .Sgroup}}
                                            <option value="{{.Groupname}}">{{.Groupname}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <button type="submit" class="btn btn-success">提交</button>
                    </form>
                </div>
            </div>
    </body>
</html>>