{{template "header"}}
        <title>登录 - MoonLog</title>
    </head>
    <body>
    <div class="container" style="width: 400px;margin-top: 10%">
        <h1>MoonLog 日志查看器</h1>
        <form method="POST" action="/login">
            <div class="form-group">
                <label >用户名</label>
                <input  class="form-control" id="uname" name="uname" placeholder="用户名">
            </div>
            <div class="form-group">
                <label >密码</label>
                <input type="password" class="form-control" id="passwd" placeholder="密码" name="passwd">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 自动登录
                </label>
            </div>
            <button type="submit" class="btn btn-success" onclick="return checkinput();">登录</button>
        </form>
        <script type="text/javascript">
            function checkinput() {
                var uname = document.getElementById("uname");
                if (uname.value.length == 0) {
                    alert("你没有输入用户名，四不四傻")
                    return false
                }
                var passwd = document.getElementById("passwd");
                if (passwd.value.length == 0) {
                    alert("你没有输入密码，四不四傻")
                    return false
                }
                return true
            }
        </script>
    </div>
    </body>
</html>