{{template "header"}}
        <title>服务器 - MoonLog</title>
    </head>
    <body>
    <div>
            {{template "navbar" .}}
            <div class="container" style="margin-top: 5%">
                <h3>服务器列表</h3>
                <a href="/server/add" class="btn btn-success">添加服务器</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>服务器名</th>
                            <th>内网IP</th>
                            <th>外网IP</th>
                            <th>CPU核心数</th>
                            <th>内存</th>
                            <th>服务器组</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Server}}
                        <tr>
                            <th>{{.Hostname}}</th>
                            <th>{{.Inner}}</th>
                            <th>{{.Outer}}</th>
                            <th>{{.Cpu_core}}核</th>
                            <th>{{.Men}}GB</th>
                            <th>{{.SGroup}}</th>
                                <th>
                                    <a href="/server?op=del&id={{.Id}}" class="btn btn-danger">删除</a>
                                </th>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
               <!-- <script type="text/javascript">
                    function checkinput() {
                        var hostname = document.getElementById("hostname");
                        if (hostname.value.length == 0) {
                            alert("未填写服务器名")
                            return false
                        }
                        var inner = document.getElementById("inner");
                        if (inner.value.length == 0) {
                            alert("未填写内网IP")
                            return false
                        }
                        var outer = document.getElementById("outer");
                        if (outer.value.length == 0) {
                            alert("未填写外网IP")
                            return false
                        }
                        return true

                    }
                </script>-->
            </div>
    </div>
    </body>
</html>>